Package: com.league2eb.crackcamscanner
Name: CrackCamScanner
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: League2eb
Author: League2eb
Section: Tweaks
